@charset "utf-8";

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* --------------- small device css --------------- */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: Verdana, sans-serif;
    color: #333;
    /*scroll-behavior: smooth;*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* für alte browser*/
header,
nav,
main,
footer,
section,
article,
aside,
figcaption,
figure {
    display: block;
}

/* vermeidung von collapsing margin*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #750101;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
a[href^="http"]::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: larger;
    content: " \f35d";
}

.wrapper {
    min-width: 320px;
    max-width: 990px;
    margin: 0 auto;
}

/*beginn header css*/
.site-header {
   /* border: 1px solid pink;*/
    color: #3e3e3e;
}

/*header {
    display: flex;
    justify-content: flex-start;
}
*/
.site-header > .wrapper {
    /*border: 1px solid blue;*/
    justify-content: flex-start;
    display: flex;
}
.site-header h1 {
    /*border: 1px solid red;*/
    margin: auto;
    margin-left: 0;
}
.site-header h1 img {
    min-width: 130px;
    max-width: 3rem;
    padding: 1rem;
    
}
.site-header p {
    /*border: 1px solid green;*/
    margin: auto;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.slogan {
    font-size: 0.8rem;
    flex:none;
    color: #750101;
}
.mainav {
    z-index: 9;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #f7f7f7;
    background-color: #f7f7f7;
    color: #3e3e3e;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.sitenavlist {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
}

.sitenavlist li {
    background-color: #fff;
    display: block;
    /*flex: 1;*/
    /*padding: 1rem;*/
}

.sitenavlist a {
    background-color: #fff;
    margin: 0.3rem;
    display: block;
    min-width: 70px;
    background: #ebebeb;
    color: #3e3e3e;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

.sitenavlist a:hover{
    background-color: #c9c9c9;
    color: #750101;
}

.sitenavlist a:focus {
    background-color: #c9c9c9;
    color: #750101;
}
.sitenavlist a:active {
    background-color: #c9c9c9;
    color: #750101;
}
.menubutton {
    display: block;
    background: #f7f7f7;
    color: #3e3e3e;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    padding: 1rem 1rem;
    border: 0;
    margin: 0 1rem 0 0;
}

/*.dropdown {
    display: block;
    background: #ebebeb;
    color: #3e3e3e;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    padding: 1rem 1rem;
    border: 0;
    margin: 0 1rem 0 0;
}*/
.sitenavlist {
    max-height: 0;
    overflow: hidden;
}
.show-menu+.sitenavlist {
    max-height: 100rem;
    transition: max-height 1000ms ease-in-out;
}

.mySlides {
    display:none;
}

.w3-section {
    margin-top: 0.1rem !important;
    margin-bottom: 0.1rem !important;
    /*background: red;*/
}
.w3-content {
    max-width: 990px !important;
    /*animation-delay: 1s;*/
}

#slider {
    /*margin: 1rem;*/
    /*padding: 0.3rem;
    background-color: red;*/
}

/*.site-img {
    min-width: 320px;
    max-width: 990px;
    margin: 0 auto;
    /*opacity: 0.8;
} */
.site-img img {
    opacity: 0.7;
}
/*#html {
    background: #fff;
}*/
#html .wrapper {
    background: #ebebeb;
    /* padding: 1rem;*/
}
#css .wrapper {
    background: #f7f7f7;
}
#flex .wrapper {
    background: #ebebeb;
}
#foot .wrapper {
    background: #f7f7f7;
    padding: 1rem;
}

#html .wrapper,
#css .wrapper,
#flex .wrapper {
    display: flex;
    flex-direction: column;
    }

#html article,
#flex article {
    background-color: #f7f7f7;
    color: #3e3e3e;
    margin-bottom: 1rem;
    padding: 1.5rem;
    }
#css article {
    background: #ebebeb;
    color: #3e3e3e;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

#foot a {
    text-decoration: none;
    margin: 0.3rem;
}

#foot a:hover{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #c9c9c9;    
}

#foot a:focus{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #c9c9c9;
    color: #750101;
}

#foot a:active {
    background-color: #c9c9c9;
    color: #750101;
}


/*#flex .erster {
    background: #666;
    color: #fff;
    }*/



/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* --------------- media screen 768px+ ------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

@media screen and (min-width: 768px) {

.site-header h1 img {
    max-width: 200px;
}

.site-header p {
    margin: auto;
    padding: 1rem;
    font-size: 2.5rem;
}

.slogan {
    font-size: 1.2rem;
    flex: none;
}
    
.sitenavlist {
    flex-direction: row;
    flex-wrap: nowrap;
 }

.sitenavlist a:hover{
    background-color: #ebebeb;
    color: #750101;
}

.mainav {
    background: #fff;
    font-size: 1rem;
}  
    
.menubutton {
    display: none;
}
 
.sitenavlist {
    max-height: none;
    overflow: auto;
    transition: none;
    flex-flow: row wrap;/*kurzschreibweise für flex dir und flex wrap*/
} 
    
.sitenavlist li {
    flex: 1;
    text-align: center;
    display: inline-block;  
}

.sitenavlist a {
    background: #f7f7f7;
    color: #750101;
    line-height: 0.3;
    padding: 0.7rem;
    margin: 0 0.2rem 0 0;
    border-top-left-radius: 1rem;    
    box-shadow: 0px 3px 3px #666;
    
}
    
#html .wrapper,
#css .wrapper,
#flex .wrapper,
#foot .wrapper {
    flex-direction: row;
}
    
.wrapper article {
    flex: 1;
    background-color: pink;
    margin: 1rem;
    padding: 0.5rem;
}
.site-img {
    padding: 0.5rem;
    background: #f7f7f7;
} 

#foot {
    margin: auto;
    padding: 1rem;
    /*background-color: red;*/        
}

#foot .a {
    margin-left: 1rem;
    }
    
    
    
    
    
}