@charset "utf-8";

/* ----------------------------------------------------------- */
/* BASICSS - a basic css (c)2020 rainer-hartmer.com ---------- */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* ACTIVATION:                                                 */
/* copy the following line of code and paste it                */
/* into the HEAD of your website (not the header):

  <link href="css/basicss.css" rel="stylesheet" type="text/css">

/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* CSS - start                                                 */

/* ----------------------------------------------------------- */
/* ALL - css for all devices */
html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: Verdana, sans-serif;
    color: #333;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* OLD - css for old browsers */
header,
nav,
main,
footer,
section,
article,
aside,
figcaption,
figure {
    display: block;
}

/* ANTICOLLAPSE - no collapsing margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #750101;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ----------------------------------------------------------- */
/* MOBILE - css for small devices */



/* ----------------------------------------------------------- */
/* TABLET - css for mid-size devices */



/* ----------------------------------------------------------- */
/* SCREEN - css for large devices */



/* ----------------------------------------------------------- */
/* XXXL - css for huge devices */










/* CSS - end                                                   */
/* ----------------------------------------------------------- */
