@charset "utf-8";

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* --------------- small device css --------------- */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: Verdana, sans-serif;
    color: #333;
}

*,
*::before,
*::after {
    box-sizing: inherit !important;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: black;
}

/* für alte browser*/
header,
nav,
main,
footer,
section,
article,
aside,
figcaption,
figure {
    display: block;
}

/* vermeidung von collapsing margin*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #b54519;
    text-decoration: none;
}

a:hover {
    color: #FE9E12;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
a[href^="http"]::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: larger;
    content: " \f35d";
}

.social_media a[href^="http"]::after {
    content: none;
}

.social_media a {
    display: block;
    margin: auto;
    padding: 0;
}

.social_media article {
    margin: 0;
    padding: 0;
}

.social_media img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 150px;
    min-width: 50px;
}

.wrapper {
    min-width: 320px;
    max-width: 990px;
    margin: 0 auto;
}

/*beginn header css*/
.site-header {
    color: #fff;
}

.site-header > .wrapper {
    justify-content: flex-start;
    display: flex;
}

.site-header h1 {
    margin: auto;
    margin-left: 0;
}

.site-header h1 img {
    min-width: 130px;
    max-width: 3rem;    
}

/*.site_title h2 {
    margin: 0;
    padding-left: 2rem;
}*/

.logoheader {
    max-width: 170px;
}

.site-header p {
    margin: auto;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.slogan {
    font-size: 0.8rem;
    flex:none;
    color: #FE9E12;
}

.mainav {
    z-index: 9;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #f7f7f7;
    background-color: #f7f7f7;
    color: #3e3e3e;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.mainav .wrapper {
    background: #3e3e3e;
}

.sitenavlist {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
}

.sitenavlist li {
    background-color: #c9c9c9;
    display: block;
}

.sitenavlist a {
    background-color: #fff;
    margin: 0.3rem;
    display: block;
    min-width: 70px;
    background: #3e3e3e;
    color: #FE9E12;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

.sitenavlist a:hover{
    background-color: #FE9E12;
    color: #3e3e3e;
}

.sitenavlist a:focus {
    background-color: #FE9E12;
    color: #750101;
}
.sitenavlist a:active {
    background-color: #FE9E12;
    color: #750101;
}
.menubutton {
    display: block;
    background: #3e3e3e;
    color: #fe9e12;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    padding: 1rem 1rem;
    border: 0;
    margin: 0 1rem 0 0;
}

.sitenavlist {
    max-height: 0;
    overflow: hidden;
}
.show-menu+.sitenavlist {
    max-height: 100rem;
    transition: max-height 1000ms ease-in-out;
}

.test video {
    width: 66rem;    
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

#videoheader {
  position: relative;
  background-color: black;
  height: 7.5vh;
  min-height: 3rem;
  width: 100%;
  overflow: hidden;
}

#videoheader video {
  margin-left: 50px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

#gamelist h2 {
    padding-top: 1rem;
}

.site-img img {
    opacity: 0.7;
}

#html .wrapper {
    background: #ebebeb;
    /* padding: 1rem;*/
}

#css .wrapper {
    background: #f7f7f7;
}

#flex .wrapper {
    background: #ebebeb;
}

#gamelist .wrapper {
    background: #ebebeb;
    box-sizing: border-box !important;
}

#foot .wrapper {
    background: black;
    padding: 1rem;
}

#html .wrapper,
#css .wrapper,
#flex .wrapper {
    background-color: #222;
    display: flex;
    flex-direction: column;
    }
#videoheader .wrapper {
    display: flex !important;
    flex-direction: column !important;
}

#html article {
    background-color: #f7f7f7;
    color: #3e3e3e;
    margin-bottom: 1rem;
    padding: 1.5rem;
    }

#html article img {
    box-shadow: 3px 3px 3px #FE9E12;
}



#flex article {
    background-color: #f7f7f7;
    color: #3e3e3e;
    margin-bottom: 1rem;
    padding: 0.5rem;
    }

#css article {
    background: #ebebeb;
    color: #3e3e3e;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

#foot {
    color: #FE9E12;
}

#foot a {
    color: #fff;
    text-decoration: none;
    margin: 0.3rem;
}

#foot a:hover{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #FE9E12;
    background: #3e3e3e;   
}

#gamelist .wrapper {
    padding-top: 1rem;
    
}
    
#gamelist h2 {
    padding-top: 1rem;
    color: #FE9E12;
    font-size: 1.5rem;
}

#gamelist h2 a {
    color: #fff;
    font-size: 60%;        
}
    
#gamelist h2 a:hover {
        color: #FE9E12;
}

#gamelist h3 {
    /*text-align: center;*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #a30000;
    }
    
#gamelist img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    min-width: 180px;
}
    
#gamelist label {
        padding-left: 1rem;
        padding-top: 1rem;
        color: #3e3e3e;
}   
    .genre_search {
        margin-top: 1rem;
    }
.genre_search select {
        margin-left: 11.9rem;
    }
    
#gamelist h2 {
    padding: 0 0 0 2rem;
    margin: 0 0 0 0;   
    }


#gamelist h3, p, a {
        padding-left: 1rem;
    }

#gamelist .wrapper {
    background: #222;
}

#gamelist article {
    background: #ebebeb;
}

#gamelist a {
    color: #b54519;      
}

#gamelist a:hover {
    color: #fe9e12;
}
    
#gamelist article {
    box-shadow: 3px 3px 3px #FE9E12;
}

#html article,
#css article,
#flex article {
    box-shadow: 3px 3px 3px #FE9E12;
}

#html p,
#css p,
#flex p {
    margin-top: 0.5rem;
}

#html iframe,
#css iframe,
#flex iframe {
    margin-top: 0.5rem;
    display: block;
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
}

#html video{
    margin-top: 0.5rem;
    display: block;
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px #FE9E12;
}

.avatar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*.formrow button, 
input, 
optgroup, 
select, 
textarea {
    margin: 0 0 0 18px;
}*/

.formbox .formrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.formbox label {
    display: block;
    margin: 0 0 0.5rem 0;
    /*min-width:  width:100rem;*/
}
.button_search {
    padding: 1rem;
}

/*#foot a:focus{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #c9c9c9;
    color: #750101;
}

#foot a:active {
    background-color: #c9c9c9;
    color: #750101;
}*/

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* --------------- media screen 768px+ ------------ */
/* ------------------------------------------------ */

@media screen and (min-width: 768px) {
    
/*#banner {
        margin: 0;
        padding: 0;
}*/ 

#banner img {
        min-width: 560px;
    }

.site-header h1 img {
    max-width: 170px;
    padding: 1.1rem;
}

.site-header p {
    color: #f7f7f7;
    margin: auto;
    padding: 1rem;
    font-size: 2.5rem;
}

.slogan {
    font-size: 1.4rem;
    flex: none;
}
    
.sitenavlist {
    flex-direction: row;
    flex-wrap: nowrap;
 }

.sitenavlist a:hover{
    background-color: #FE9E12;
    color: #3e3e3e;
}

.mainav {
    background: black;
    font-size: 1rem;
}  
    
.menubutton {
    display: none;
}
 
.sitenavlist {
    max-height: none;
    overflow: auto;
    transition: none;
    flex-flow: row wrap;
    /*kurzschreibweise für flex dir und flex wrap*/
} 
    
.sitenavlist li {
    background-color: black;
    flex: 1;
    text-align: center;
    display: inline-block;  
}

.sitenavlist a {
    background: #222;
    color: #FE9E12;
    line-height: 0.3;
    padding: 0.7rem;
    margin: 0 0.2rem 0 0;
    border-top-left-radius: 1rem;    
    /*box-shadow: 0px 3px 3px #750101;*/
    box-shadow: 0px 2px 2px #FE9E12;
}


#html .wrapper,
#css .wrapper,
#flex .wrapper,
#foot .wrapper {
    flex-direction: row;
}
    
#gamelist .wrapper {
    flex: 1;
        
}

.wrapper h4 {
    color: #FE9E12;
    padding: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
    
    
.wrapper article {
    flex: 1;
    background-color: #c9c9c9;
    margin: 1rem;
    padding: 0.5rem;
}
    
.wrapper iframe {
    box-shadow: 3px 3px 3px #FE9E12;
}    
    
    
.site-img {
    padding: 0.5rem;
    background: #f7f7f7;
} 

/*#flex .wrapper article {
        background-color: #fff;
    }*/
    
#foot {
    margin: auto;
    padding: 1rem;
    /*background-color: red;*/        
}

#foot a {
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    
    }
/* css ende */    
}